*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar{
    background-color: #000;
    color: #d8d8d8;
    border-bottom: 0.5px solid gray;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: sticky;
    top:0;
    left:0;
    font-family: 'Karla', sans-serif;
}

.navbar a{
    text-decoration: none;
    color: #d8d8d8;

}
.navbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Karla', sans-serif;
    color:#d8d8d8;
    font-weight:bold;
}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height:inherit;
    padding:0 5px;
}
.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}
.navbar ul li a:hover{
    background-color: gray;
}
body{
    background-color: #0B0C10;
    
}
.content{
    font-family: 'Karla', sans-serif;
    color:#d8d8d8;
    margin-top:30%;
    margin-left:100px;
}
h1{
    font-size: 70px;
    color:#66FCF1;
}
p{
    margin-top: 10px;
    color:#C5C6C7;
}
main{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.btns{
    margin-top:20px;
    background: #45A29E;
    cursor: pointer;
    color:white;
    padding:12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left:10px;
    text-decoration: none;
}
.btns:hover{
    background: #848484;
}
.btn input[type="submit"] {
    margin-top:20px;
    background: #45A29E;
    cursor: pointer;
    color:white;
    padding:12px 20px;
    border: 0;
    border-radius: 20px;
    margin-left:10px;
    text-decoration: none;
    text-align: center;
}
img{
    margin-top: 150px;
    margin-left: 175px;
    width: 700px;
}

title{
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    color:#C5C6C7;
}
h2{
    text-align: Center;
  position:static;
    font-family: 'Karla', sans-serif;
    font-size: 80px;
    color:#66FCF1
}
.skills p{
    font-family: 'Karla', sans-serif;
    color:#d8d8d8;
    text-decoration: none;
    text-align: center;
  position:static;
  font-size:50px;
}


.projects ul li{
    text-align: center;
  position:static;
    font-family: 'Karla', sans-serif;
    color:#d8d8d8;
    text-decoration: none;
    font-size:50px;
}
.line1{
    height:30vh;
    background:#0B0C10;
}
.line2{
    height:30vh;
    background:#0B0C10;
}
.line3{
    height:30vh;
    background:#0B0C10;
}
.line4{
    height:30vh;
    background:#0B0C10;
}

#nier{
    margin-right: 50px;
}

#quanxi{
    margin-left:175px;

}
.list{
    text-decoration: none;
    color:#d8d8d8;
}

.contact{
    width: 30%;
    margin: 3% auto;
    height: 35vh;
    background-color:#0B0C10;
    border-radius: 40px;
  }
  
  .contact h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    color:#66FCF1

  }
  
  .contact .input_field{
    margin-bottom: 10px;
  }
  
  .contact .input_field input[type="text"],
  .contact textarea{
    border: 1px solid #d8d8d8;
    width: 100%;
    padding: 10px;
  }
  
  .contact textarea{
    resize: none;
    height: 80px;
  }
  
  #error_message{
    margin-bottom: 20px;
    background: #d4343a;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }